@import "../../../assets/scss/core/variables/queries";
@import "../../../assets/scss/core/variables/variables";
@import "../../../assets/scss/core/typography/presets";

/* Custom Block Styles
========================================================= */
$class: '.media-text-custom-block';

#{$class} {
  @include for-size(tablet-sm) {
    // @include margin-center;
    // max-width: 480px;
  }
  .wp-block-media-text__media {
    img {
      position: relative;
      z-index: 1;
    }
  }
  &.border-top-left .wp-block-media-text__media {
    @include image-border('top left');
  }
  &.border-top-right .wp-block-media-text__media {
    @include image-border('top right');
  }
  &.border-bottom-left .wp-block-media-text__media {
    @include image-border('bottom left');
  }
  &.border-bottom-right .wp-block-media-text__media {
    @include image-border('bottom right');
  }
  
  &.rounded-top-left .wp-block-media-text__media img {
    @include image-rounded('top left');
  }
  &.rounded-top-right .wp-block-media-text__media img {
    @include image-rounded('top right');
  }
  &.rounded-bottom-left .wp-block-media-text__media img {
    @include image-rounded('bottom left');
  }
  &.rounded-bottom-right .wp-block-media-text__media img {
    @include image-rounded('bottom right');
  }
}
