body.page-template-tpl-no-logo {
  .mobile-brand {
    @include for-size(tablet, up, offset) {
      display: none;
    }
  }
  .mobile-nav-wrap {
    margin-bottom: 0;
    box-shadow: none;
    &:before {
      display: none;
    }
  }
}

.mobile-nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  box-shadow: -60vw 25px 40px #fff, -60vw 25px 40px #fff,
    2px 2px 28px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 50px;
  @include for-size(tablet) {
    margin-bottom: 30px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    @include for-size(tablet-sm) {
      min-height: 80px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .wrapper {
      min-height: 100px;
      display: flex;
      align-items: center;
    }
    .mobile-brand {
      @include trans($prop: opacity);
      margin-right: 15px;
      @include for-size(tablet, up, offset) {
        position: relative;
        top: 40px;
      }
      svg {
        display: block;
        max-width: 275px;
        opacity: 0;
        @include for-size(tablet) {
          max-width: 200px;
        }
        @include for-size(tablet-sm) {
          max-width: 150px;
        }
        @include for-size(phone) {
          max-width: 125px;
        }
        .main-logo-mark {
          path {
            @include trans();
          }
        }
        &:hover,
        &:focus {
          .main-logo-mark {
            path {
              transform: translate(10px);
              fill: $dark-brown;
            }
          }
        }
      }
    }
    .menu-items {
      margin-left: auto;
      display: flex;
      align-items: center;
      #gtranslate {
        margin-right: 50px;
        margin-left: 20px;
        @include for-size(tablet) {
          margin-right: 20px;
        }
      }
    }
    .nav-button {
      @include button;
      border: 3px solid $red;
      background: $white;
      display: inline-flex;
      align-items: center;
      padding: 13px 20px;
      min-height: 50px;
      line-height: 1;
      @include for-size(tablet-sm) {
        padding-top: 10px;
        padding-bottom: 10px;
        span {
          font-size: rem(16);
        }
      }
      @include for-size(phone) {
        min-height: 45px;
        padding-top: 0;
        padding-bottom: 0;
      }
      &:not(:last-of-type) {
        margin-right: 25px;
        @include for-size(tablet-sm) {
          margin-right: 15px;
        }
        @include for-size(phone) {
          margin-right: 10px;
        }
      }
      &:hover,
      &:focus,
      &:active {
        border-color: $black;
        background: $white;
      }
      &.map-toggle {
        svg {
          width: 20px;
        }
      }
      &.navbar-toggle {
        @include for-size(tablet-sm) {
          &.open {
            svg {
              &.open {
                display: none;
              }
              &.close {
                display: block;
              }
            }
          }
        }
      }
      span {
        @extend %preset5;
        color: #212121;
        font-weight: 700;
        @include for-size(phone) {
          font-size: rem(14);
        }
      }
      svg {
        flex-shrink: 0;
        margin-left: 10px;
        width: 23px;
        @include for-size(phone) {
          margin-left: 7px;
          width: 14px !important;
        }
        &.close {
          display: none;
        }
      }
    }
  }

  .mobile-nav {
    overflow: hidden;
    padding: 30px;
    background: $white;
    clear: both;
    display: none;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 9999;
    box-shadow: 1.892px 1.892px 26.488px rgba(0, 0, 0, 0.2);
    @include for-size(tablet-sm) {
      top: 100px;
      width: 100vw;
      height: calc(100vh - 100px);
      padding-top: 50px;
      padding-bottom: 0;
    }
    .mobile-nav-close {
      padding-bottom: 40px;
      text-align: right;
      @include for-size(tablet-sm) {
        display: none;
      }
      a {
        display: inline-block;
        svg path {
          @include trans;
        }
        &:hover,
        &:focus {
          svg path {
            fill: $dark-brown;
          }
        }
      }
    }
    .inner {
      display: flex;
      flex-direction: column;
      @include for-size(tablet-sm) {
        height: 100%;
      }
    }
    ul {
      @include list-reset;
      li {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        a {
          @include trans;
          @extend %preset4;
          display: inline-block;
          color: $dark-brown;
          padding: 10px 24px;
          text-decoration: none;
          border-radius: 60px;
          font-weight: 500;
        }

        &.current-menu-item,
        &.current-page-ancestor,
        &.current-menu-ancestor,
        &:hover,
        &:focus,
        &:active {
          > a {
            color: $white;
            background: $red;
          }
        }
        &.icon-home {
          span {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
    figure {
      padding-top: 50px;
      margin-right: -40px;
      @include for-size(tablet-sm) {
        margin-top: auto;
      }
      img {
        margin-left: auto;
        position: relative;
      }
    }
    #gtranslate {
      text-align: center;
      padding-top: 50px;
    }
  }
  .search-form {
    padding-top: 10px;
    input {
      @include margin-center;
      border-color: black;
      display: block;
      width: 90%;
      border-radius: 35px;
      padding: 10px 15px;
      background: url(assets/img/svg/icon-search.svg) 90%/20px 20px no-repeat;
      @include placeholder {
        color: $dark-brown;
        font-size: rem(20);
        font-weight: 500;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  opacity: 0;
}

// Fix horizontal scroll for desktop
body {
  overflow-x: hidden;
}
