@import "../../../assets/scss/core/variables/queries";
@import "../../../assets/scss/core/variables/variables";
@import "../../../assets/scss/core/typography/presets";
@import "../../../assets/scss/core/variables/color-vars";

/* Custom Block Styles
========================================================= */
$class: ".providers-mini";

#{$class} {
  .wrapper,
  .slick-track {
    display: flex;
    gap: 24px 12px;
    @include for-size(tablet, up, offset) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .wrapper {
    @include between-sizes(1025px, 1500px) {
      @include margin-center;
      max-width: 625px;
    }
  }
  .provider {
    flex: 0 1 195px;
    max-width: 195px;
    min-height: 166px;
    border-radius: 10px;
    box-shadow: 1.6px 1.6px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    @include for-size(1500px) {
      flex-basis: calc(33.333% - 12px);
    }
    @include for-size(tablet-sm) {
      min-height: 150px;
      // flex-basis: calc(50% - 6px);
    }
    @each $color, $hex in $providers {
      &.#{$color} {
        .name {
          background-color: #{$hex};
        }
        &.current {
          figure {
            border-color: #{$hex} !important;
          }
        }
        a {
          &:hover,
          &:focus,
          &:active {
            figure {
              border-color: #{$hex};
            }
          }
        }
      }
    }
    a {
      display: block;
      // border-radius: 10px;
      // box-shadow: 1.6px 1.6px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
    }
    figure {
      @include trans;
      display: flex;
      align-items: center;
      padding: 20px 25px;
      flex: 1;
      background-color: $white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 3px solid transparent;
      border-bottom: none;
      img {
        width: 100%;
      }
    }
    .name {
      margin-top: auto;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      span {
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
