
/* Buttons Wrap
========================================================= */
.buttons-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.button-wrap {
  padding-top: 30px;
}

/* Buttons
========================================================= */
.wp-block-buttons {
  &.is-layout-flex {
    gap: 30px;
  }
}
.wp-block-button {
  .wp-block-button__link {
    @include button;
    font-weight: 500;
  }
}

/* Social Icons
========================================================= */
.social-icons {
  ul {
    @include list-reset;
    display: flex;
    @include for-size(tablet-sm) {
      justify-content: center;
    }
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
      a {
        @include trans;
        font-size: rem(20);
      }
    }
  }
}

/* Media & Text
========================================================= */
.wp-block-media-text {
  &.has-media-on-the-right {
    @include for-size(tablet-sm, up, offset) {
      .wp-block-media-text__media {
        margin-left: auto;
      }
    }
    .wp-block-media-text__content {
      padding-left: 0 !important;
    }
  }
  &:not(.has-media-on-the-right) {
    .wp-block-media-text__content {
      padding-right: 0 !important;
    }
  }
  &.is-stacked-on-mobile {
    @include for-size(tablet-sm) {
      grid-template-columns: 100% !important;
      .wp-block-media-text__media {
        grid-column: 1 !important;
        grid-row: 1 !important;
      }
      .wp-block-media-text__content{
        grid-column: 1 !important;
        grid-row: 2 !important;
      }
    }
  }

  hr {
    margin-top: 25px;
    margin-bottom: 30px;
    max-width: 150px !important;
    color: $yellow;
  }
  .wp-block-media-text__media {
    @include for-size(tablet-sm, up, offset) {
      // max-width: 575px;
    }
  }
  .wp-block-media-text__content {
    @include for-size(tablet-sm) {
      padding-top: 50px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    h3 {
      margin-bottom: 15px;
    }
    ul {
      li {
        margin-bottom: 0;
      }
    }
  }
}


/* Icon List
========================================================= */
.icon-heading {
  margin: 0;
  .kt-svg-icon-list-text {
    @extend %preset2;
    color: $black;
  }
}

.icon-link {
  li {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .kb-svg-icon-wrap {
    margin-right: 0;
    margin-left: 8px;
  }
  .kt-svg-icon-list-text {
    a {
      font-family: var(--wp--preset--font-family--header) !important;
      font-weight: 500 !important;
      text-decoration: none;
      &:hover, &:focus, &:active {
        color: $dark-brown !important;
        svg {
          stroke: $dark-brown !important;
        }
      }
    }
  }
}

/* Misc
========================================================= */
.wp-block-image {
  margin-bottom: 20px;
}

.count-split-row {
  &.reverse {
    @include for-size(tablet, up, offset) {
      .wp-block-kadence-countup {
        flex-direction: row-reverse;
        .kb-count-up-number {
          margin-left: 20px;
          margin-right: 0;
        }
      }
    }
    @include between-sizes(tablet-sm, tablet) {
      .wp-block-kadence-countup {
        align-items: flex-end;
      }
    }
  }
  .wp-block-kadence-countup {
    @extend %preset3;
    display: flex;
    align-items: flex-start;
    @include for-size(tablet) {
      flex-direction: column;
    }
    @include for-size(tablet-sm) {
      align-items: center;
    }
    .kb-count-up-number {
      flex: 0 0 60px;
      background: $yellow;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      @include for-size(tablet, up, offset) {
        margin-right: 20px;
        margin-top: -5px;
      }
      @include for-size(tablet) {
        margin-bottom: 15px;
      }
      @include for-size(tablet-sm) {
        margin-bottom: 25px;
      }
    }
    .kb-count-up-title {
      flex: 1;
      line-height: 1.4;
      @include for-size(tablet, up, offset) {
        max-width: 350px;
      }
      @include for-size(tablet-sm) {
        text-align: center;
        font-size: rem(22);
      }
    }
  }
}

.wp-block-table {
  table {
    border: none;
    tr {
      border-bottom: 1px solid #D9D9D9;
    }
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

.kt-tabs-wrap {
  .kt-tabs-title-list {
    li {
      flex: 1;
    }
  }
  .kt-tabs-content-wrap {
    .wp-block-kadence-tab {
      padding: 30px 0;
    }
  }
}

.about-form-row {
  .gform_fields {
    .gfield {
      &.email {
        .gfield_label {
          @include display('hide');
          @include for-size(640px) {
            height: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.home-row {
  .meta-group {
    border-left: 9px solid $yellow;
    padding-left: 25px;
    margin-top: 60px;
    margin-left: 60px;
    @include for-size(tablet-sm) {
      margin-top: 40px;
      margin-left: 40px;
    }
    h1 {
      font-size: rem(24);
      font-weight: 700;
    }
  }
  .kt-svg-icon-list {
    display: flex;
    justify-content: center;
    @include for-size(tablet, up, offset) {
      justify-content: flex-end;
      padding-right: 25% !important;
      margin-top: -75px !important;
      position: relative;
      z-index: 1;
    }
    @include for-size(tablet) {
      margin-top: 20px !important;
    }
    a {
      display: inline-flex !important;
      padding: 8px 20px !important;
      border: 3px solid $red;
      border-radius: 60px;
      text-decoration: none;
      &:hover, &:focus, &:active {
        border-color: $black;
      }
      @include for-size(tablet-sm) {
        padding-top: 4px;
        padding-bottom: 4px;
        .kt-svg-icon-list-text {
          font-size: rem(20);
        }
      }
    }
    .kt-svg-icon-list-text {
      @include font('heading');
      color: $dark-brown;
      font-size: rem(24);
      font-weight: 700;
    }
  }
}

body:not(.wp-admin) {
  .other-ways-row {
    .kt-row-column-wrap {
      grid-template-areas: ". b b b b c c c c c";
      grid-template-columns: repeat(10, 1fr) !important; 
      position: relative;
      column-gap: 35px;
      @include for-size(tablet) {
        column-gap: 0 !important;
        grid-template-areas: 
        "a a a a a b b b b b"
        "c c c c c c c c c c";
      }
      @include for-size(tablet-sm) {
        grid-template-areas: 
        "a a a a a a b b b b"
        "c c c c c c c c c c";
      }
    }
    .col-menu {
      grid-area: a;
      @include for-size(tablet, up, offset) {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 1;
      }
      @include for-size(tablet-sm) {
        margin-left: -$padding-md;
      }
      ul {
        margin: 0;
        display: block;
        background: $yellow;
        padding: 17px 23px 17px 0;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
      }
      li {
        display: block;
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
        &.icon-train a:before {
          content:'\f239';
        }
        &.icon-tram a:before {
          content:'\f238';
        }
        &.icon-bus a:before {
          content:'\f207';
        }
        &.icon-park a:before {
          content:'\f540';
        }
        &.icon-car a:before {
          content:'\f5e4';
        }
        &.icon-van a:before {
          content:'\f5b6';
        }
        &.icon-phone a:before {
          content:'\f3cd';
        }
        &.current-menu-item {
          a {
            background: $dark-brown;
            color: $white;
            &:before {
              color: $white;
            }
          }
        }
      }
      a {
        @include font('heading');
        color: $dark-brown;
        font-weight: 600;
        display: flex;
        align-items: center;
        border-radius: 0px 60px 60px 0px;
        padding: 10px 30px;
        text-decoration: none;
        @include for-size(tablet-sm) {
          padding-left: 20px;
          &:before {
            margin-right: 5px;
          }
        }
        &:before {
          @include fa;
          @include trans;
          margin-right: 15px;
          width: 20px;
        }
        &:hover, &:focus, &:active {
          background: $white;
        }
      }
    }
    .col-image {
      grid-area: b;
      position: relative;
      z-index: 0;
      @include for-size(tablet-sm) {
        margin-right: -30px;
      }
    }
    .col-text {
      grid-area: c;
    }
  }
}
