
.provider-mini-links-row {

}

.provider-content-row {
  .desktop {
    @include for-size(tablet-sm) {
      display: none;
    }
  }
  .tablet {
    @include for-size(tablet, up, offset) {
      display: none;
    }
  }
  h1 {
    font-weight: 600;
  }
  li {
    &::marker {
      color: $red;
    }
  }
  .wp-block-buttons {
    @include for-size(tablet-sm) {
      flex-direction: column;
    }
  }
  .primary {
    @include for-size(tablet) {
      .acf-innerblocks-container {
        display: flex;
        flex-direction: column-reverse;
      }
      .wp-block-image {
        margin-left: -$padding-md;
      }
      .meta-group {
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 0;
      }
    }
  }
  .meta-group {
    border-left: 4px solid $red;
    padding-left: 20px;
    margin-top: 60px;
    margin-left: 60px;
    ul {

    }
    li {
      margin-bottom: 0;
    }
    a, a[href^='tel'] {
      color: $dark-brown;
      text-decoration: none;
      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }
}

.provider-ticket-row {

}

.provider-tabs-row {
  .wp-block-image {
    @include for-size(tablet) {
      @include margin-center;
      max-width: 575px;
    }
  }
  ul.kt-tabs-title-list {
    @include for-size(tablet-sm) {
      margin-left: -$padding-md !important;
      margin-right: -$padding-md !important;
    }
    @include for-size(phone) {
      display: block;
    }
  }
  li.kt-title-item {
    margin-right: 0 !important;
    position: relative;
    &:not(:last-child) {
      a {
        &:after {
          @include trans;
          content:'';
          display: block;
          position: absolute;
          top: 0;
          right: -2px;
          background: $yellow;
          width: 2px;
          height: 100%;
          transform: scale(50%);
          z-index: 1;
        }
      }
    }
    &:last-child {
      a {
        border-top-right-radius: 60px !important;
      }
    }
    &.kt-tab-title-active a {
      &:after {
        @include display('hide');
      }
      .kb-svg-icon-wrap svg {
        color: $dark-brown;
      }
    }
  }
  a.kt-tab-title {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    @include for-size(tablet-sm) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    @include for-size(phone) {
      padding-left: $padding-md !important;
    }
    &:hover, &:focus {
      &:after {
        @include display('hide');
      }
    }
    .kb-svg-icon-wrap {
      flex-shrink: 0;
      @include for-size(tablet-sm, up, offset) {
        margin-right: 5px;
      }
      svg {
        @include trans;
        color: $red;
      }
    }
    .kt-title-text {
      @include font('heading');
      color: $dark-brown;
      font-weight: 700;
      font-size: rem(14);
      @include for-size(tablet-sm) {
        font-size: rem(12);
      }
    }
    &:hover, &:focus, &:active {
      .kb-svg-icon-wrap svg {
        color: $dark-brown;
      }
    }
  }
}

.provider-outro-row {
  .wp-block-kadence-image {
    @include for-size(tablet) {
      @include margin-center;
    }
  }
  > .kt-row-column-wrap {

  }
  .primary {

  }
  .secondary {

  }
}


/* Custom
========================================================= */
@include for-size(tablet, up, offset) {
  .provider-tabs-row .kt-row-column-wrap {
    grid-template-areas: 
    "f f f f f f f f f f"
    "p p p p s s s s s s";
  }

  .provider-outro-row .kt-row-column-wrap {
    grid-template-areas: 
    "f f f f f f f f f f"
    "p p p s s s s s s s";
  }

  .grid-custom {
    .kt-row-column-wrap {
      grid-template-columns: repeat(10, 1fr) !important; 
      grid-template-rows: auto 1fr !important; 
    }
    .full-width {
      grid-area: f;
    }
    .primary {
      grid-area: p;
    }
    .secondary {
      grid-area: s;
    }
  }
}
