@use "sass:math";

/* Color VARs
========================================================= */
@import "color-vars";


/* Fonts (fonts defined in theme.json)
========================================================= */
@mixin font( $style:'body' ) {
  @if ( $style == 'body' ) {
    font-family: var(--wp--preset--font-family--body,'Karla', sans-serif);
  }
  @else if ( $style == 'heading' ) {
    font-family: var(--wp--preset--font-family--header,'Montserrat', sans-serif);
  }
}

/* EM to PX
========================================================= */
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return math.div($pixels, $context)+em;
}

/* REM to PX
========================================================= */
@function rem($size) {
  @return (math.div($size, 16) + rem);
}


/* BG Image
========================================================= */
@mixin bg($sizing:cover, $position:center, $repeat:no-repeat) {
  background: {
    position: $position;
    repeat: $repeat;
    size: $sizing;
  }
}


/* Padding - Global Rows
========================================================= */
@mixin row-padding ($top-large:120, $bottom-large:120,
  $top-medium:60, $bottom-medium:60,
  $top-small:$top-medium, $bottom-small:$bottom-medium) {

  @include for-size(tablet, up, offset) {
    padding-top: $top-large + px;
    padding-bottom: $bottom-large + px;
  }
  @include for-size(tablet) {
    padding-top: $top-small + px;
    padding-bottom: $bottom-small + px;
  }
}


/* Global Transition ( property, duration, easing )
========================================================= */
@mixin trans($prop:all, $dur:600, $ease:cubic-bezier(.23, 1, .32, 1)) {
  transition: $prop $dur+ms $ease;
}


/* Font Awesome 5 ( needs content specified )
========================================================= */
@mixin fa($type:free, $weight:900) {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  @if ($type=='free') {
    font-family: "Font Awesome 5 Free";
    font-weight: $weight;
  }
  @else if ($type=='brands') {
    font-family: "Font Awesome 5 Brands";
  }
}


/* Additional Helper Mixins
========================================================= */
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin no-margin-last {
  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin padding-remove {
  margin-left: -#{$padding}px;
  margin-right: -#{$padding}px;
}

@mixin center($dir:'vert') {
  @if ($dir == 'vert') {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if ($dir == 'horiz') {
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin display($state:show) {
  @if ($state == 'show') {
    opacity: 1;
    visibility: visible;
  }
  @else if ($state == 'hide') {
    opacity: 0;
    visibility: hidden;
  }
}


@mixin image-border($pos) {
  position: relative;
  &:before {
    content:'';
    display: block;
    position: absolute;
    background: $red;
    width: 80%;
    height: 50px;
    z-index: 0;
  }
  @if ($pos == 'top left') {
    &:before {
      top: -12px;
      left: -12px;
    }
  }
  @else if ($pos == 'top right') {
    &:before {
      top: -12px;
      right: -12px;
    }
  }
  @else if ($pos == 'bottom left') {
    &:before {
      bottom: -12px;
      left: -12px;
    }
  }
  @else if ($pos == 'bottom right') {
    &:before {
      bottom: -12px;
      right: -12px;
    }
  }
}

@mixin image-rounded($pos) {
  @if ($pos == 'top left') {
    border-top-left-radius: 60px;
  }
  @else if ($pos == 'top right') {
    border-top-right-radius: 60px;
  }
  @else if ($pos == 'bottom left') {
    border-bottom-left-radius: 60px;
  }
  @else if ($pos == 'bottom right') {
    border-bottom-right-radius: 60px;
  }
}

/* Button ( color, background, border )
========================================================= */
@mixin button {
  @include trans;
  @include font('heading');
  border: 0;
  background: $red;
  color: $white;
  border-radius: 80px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  user-select: none;
  vertical-align: baseline;
  font-size: rem(20);
  line-height: 1.2;
  text-decoration: none;
  -webkit-appearance: none;
  &:hover, &:focus, &:active {
    background-color: $dark-brown;
  }
}
