@import "../../../assets/scss/core/variables/queries";
@import "../../../assets/scss/core/variables/variables";
@import "../../../assets/scss/core/typography/presets";
@import "../../../assets/scss/core/variables/color-vars";

/* Custom Block Styles
========================================================= */
$class: '.providers-index';

#{$class} {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    justify-content: center;
    @include for-size(phone) {
      grid-template-columns: 1fr;
    }
  }
  .provider {
    max-width: 375px;
    @each $color, $hex in $providers {
      &.#{$color} {
        a {
          &:hover, &:focus, &:active {
            figure, .meta {
              border-color: #{$hex};
            }
            .link p {
              color: $dark-brown;
            }
          }
        }
      }
    }
    &.canby-area-transit img {
      max-width: 255px;
    }
    &.clackco img {
      max-width: 300px;
    }
    &.mhx-village-shuttle img {
      max-width: 300px;
    }
    &.sandy-area-metro img {
      max-width: 230px;
    }
    &.south-clackamas-transportation-district img {
      max-width: 310px;
    }
    &.south-metro-area-regional-transit img {
      max-width: 300px;
    }
    a {
      display: block;
      border-radius: 10px;
      box-shadow: 1.6px 1.6px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
    }
    figure {
      @include trans;
      display: flex;
      align-items: center;
      padding: 20px;
      flex: 0 0 200px;
      background-color: $white;
      border: 3px solid transparent;
      border-bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      img {
        @include margin-center;
        width: 100%;
      }
    }
    .meta {
      @include trans;
      flex: 1;
      background: $ivory;
      padding: 20px 30px;
      border: 3px solid transparent;
      border-top: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    h2 {
      @extend %body-copy;
      color: $dark-brown;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .link {
      p {
        @include font('heading');
        @include trans;
        color: $red;
      }
    }
  }
}
