/* Body
========================================================= */
body {
  color: $black;
  p {
    margin-bottom: 20px;
    &.has-small-font-size {
    }
    &.has-medium-font-size {
    }
    &.has-large-font-size {
    }
    &.has-x-large-font-size {
      @extend %preset4;
      font-weight: 400;
      font-size: rem(20) !important;
    }
  }
  li {
    margin-bottom: 10px;
  }
  p,
  li {
    @extend %body-copy;
    color: $dark-brown;
    a,
    a[href^="tel"] {
      @include trans;
      color: $red;
      font-weight: 700;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
    a[href^="tel"] {
      white-space: nowrap;
    }
  }
}

blockquote {
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  position: relative;
  &:before {
    content: "“";
    display: block;
    margin-bottom: 25px;
  }
  p {
    @include no-margin-last;
  }
}

/* Front End Only
========================================================= */
body {
  &:not(.wp-admin) {
    @include font;
  }
}
